<div class="jumbotron text-center">
  <h1>Mean stack app</h1>
  <p class="lead">welcome to our mean stack app built form `Traversy Media` </p>

  <a class="btn btn-secondary " [routerLink]="['/login']">Login</a>
  <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-cli</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam</p>
  </div>
  <div class="col-md-4">
    <h3>JWT tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam</p>
  </div>
</div>